body {
  background-color: #54b9d1;
  font-family: "Montserrat";
  overflow: hidden;
}

* {
  user-select: none;
  box-sizing: border-box;
  flex-shrink: 0;
}

button {
  background-color: unset;
  border: unset;
  user-select: none;
  outline: unset;
  font-weight: unset;
  font-family: unset;
  padding: unset;
  margin: unset;
  text-align: left;
}

.topSpacer {
  height: 100px;
}

.toolbar {
  margin-left: 100px;
  margin-right: 80px;
  width: 270px;
}

@media only screen and (max-height: 1000px) {
  .toolbar {
    margin-left: 60px;
    margin-right: 30px;
  }

  .topSpacer {
    height: 40px;
  }
}