body {
  background-color: #54b9d1;
  font-family: "Montserrat";
  overflow: hidden;
}

* {
  user-select: none;
  box-sizing: border-box;
  flex-shrink: 0;
}

button {
  background-color: unset;
  border: unset;
  user-select: none;
  outline: unset;
  font-weight: unset;
  font-family: unset;
  padding: unset;
  margin: unset;
  text-align: left;
}

@media only screen and (max-height: 1000px) {
  .topSpacer {
    height: 40px;
  }
}
